@model IEnumerable<jQueryAjaxCrud.Models.TransactionModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Transaction", null, Context.Request.Scheme)', 'New Transaction')" 
                   class="btn btn-success text-white">
                    <i class="fas fa-random"></i> New Transaction
                </a>
            </th>
            @*<th><a asp-action="AddOrEdit" class="btn btn-success text-white">
                    <i class="fas fa-random"></i> New Transaction </a>
                </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "Transaction", new { id = item.TransactionID }, Context.Request.Scheme)', 'Update Transaction')" class="btn btn-info text-white">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.TransactionID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <input type="submit" value="DELETE" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>